/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */




.hero-box {
    position: relative;
    background: rgb(36,13,0);
    background: radial-gradient(circle, rgba(36,13,0,1) 25%, rgba(82,79,28,1) 50%, rgba(36,13,0,1) 75%);
    background-size: 300% 300%;
  	animation: AnimateBG 7s ease infinite;
}
.hero-video-box {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden
}
.hero-video-box:before {
    content: "";
    background: #000;
    background: -moz-linear-gradient(top, #000000 15%, #ffffff00 100%);
    background: -webkit-linear-gradient(top, #000000 15%, #ffffff00 100%);
    background: linear-gradient(to bottom, #000000 15%, #ffffff00 100%);
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%
}
.hero-video-box:after {
    content: "";
    background: #84309a00;
    background: -moz-linear-gradient(top, #84309a00 0%, #84309a00 100%);
    background: -webkit-linear-gradient(top, #84309a00 0%, #84309a00 100%);
    background: linear-gradient(to bottom, #84309a00 0%, #84309a00 100%);
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%
}
.hero-video video {
    width: 100%;
    height: 100%;
    display: block
}
.hero-video-info {
    color: white;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 1;
    text-align: center
}
.hero-info {
    margin-top: -350px;
    margin-bottom: 0px;
    position: relative;
   
}



.hero-video-info h1 {
    text-shadow: 0 0 35px #000
}
.hero-list {
    background: #100d2a6e;
    border: 1px solid #304563;
    padding: 2%;
    max-width: 800px;
    margin: auto;
    border-radius: 40px;
}
.hero-list ul li {
    font-size: 16px;
    color: #fff;
    margin: 20px 0;
    text-align: center;
    padding-left: 25px;
    position: relative
}
.hero-list ul li:before {
    content: "";
    background: url(../../../../../../../themes/Festival-Theme/images/Hero-List-Icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -10px
}
.hero-button {
    text-align: center;
    margin-top: -32px
}
.hero-bottom {
    text-align: center;
    padding-bottom: 50px
}
.hero-bottom h5 {
    margin-bottom: 5px
}

.button-gradient-bg {
    background-color: #000000;
    color: #ffffff;
  }

.button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 15px 40px;
    display: inline-block;
    border: none;
    outline: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out
}
.button-radius {
    border-radius: 60px
}
.button-border {
    position: relative
}
.button-border:before {
    content: "";
    border: 1px solid #fff;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border-radius: 60px
}
.button-separator {
    position: relative
}
.button-separator:after {
    content: "";
    background: url(../../../../../../../themes/Festival-Theme/images/Button-Separator.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 70px;
    height: 50px;
    position: absolute;
    left: -30px;
    top: -30px
}
.button:hover {
    background: #fff;
    color: #000;
    border-color: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out
}

.program-bg {
    background: url(../../../../../../../themes/Festival-Theme/images/Program-Bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
.program-box {
    padding: 1px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out
}
.program-inner-box {
    height: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden
}
.program-box h5 {
    font-size: 14px;
    text-align: center;
    background: #825d08;
    background: -moz-linear-gradient(-45deg, #825d08 0%, #fff9b0 29%, #634d00 63%, #dabf2e 100%);
    background: -webkit-linear-gradient(-45deg, #825d08 0%, #fff9b0 29%, #634d00 63%, #dabf2e 100%);
    background: linear-gradient(135deg, #825d08 0%, #fff9b0 29%, #634d00 63%, #dabf2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px
}
.program-box h5:before {
    content: "";
    background: url(../../../../../../../themes/Festival-Theme/images/Program-Title-Icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto
}
.program-box ul li {
    background: #f0f0f0;
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 2px 0
}
.program-box ul li strong {
    color: #1b1947;
    display: block
}
.program-box ul li small {
    font-size: 14px;
    color: #1b1947
}
.program-box ul li b {
    color: #1b1947;
    display: block
}
.program-box ul li p {
    color: #dabf2e;
    border-top: 1px solid #49476a;
    margin-top: 0;
    padding-top: 5px;
    width: 100%
}
.program-box ul li b:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #e2cc4b;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    border-radius: 100%
}
.program-box ul li ul li {
    background: none;
    border: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    width: 100%
}
.program-box ul li ul li small {
    width: 50%
}
.program-box ul li ul li b {
    width: 50%
}
.program-box .button {
    width: 100%;
    border-radius: 10px;
    display: none
}




/* Button */

.button-box-card {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #18151f;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button-box-card:hover {
    background-color: #84309a;
  }

.button-box-card-dark {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button-box-card-dark:hover {
    background-color: black;
    color: white;
  }


  input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #000000;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}


label:hover {
    background: #84309a;
}

.content {
    background: #ffffff;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}






#content-view #about-us .txt * {
    width: 95%!important;
}



input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}



/* TICKETS CARDS */
.section-2 {
    margin-top: 5px;
    max-width: 100%;
  }

.container-cards_tickets {
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    min-height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.col-ticket {
    background-color: white ;
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
}

.card-tickets {
  box-shadow: 1px 1px 5px 0px var(--gray);
}





/* Header 
stycky means it will stay up in the page, at the top 0px with width 100% of available space
*/

/* footer */

footer {
    padding-block: 1rem;
    background-color: var(--black);
    grid-area: footer;
    color: #ffffff;
    text-align: center;
    margin-top: 9px;
  }
  
  footer a {
    display: inline;
    margin: 0;
    color: #ffffff;
  }

  footer p {
    display: inline;
    margin: 0;
    color: #ffffff;
  }