/* -----------Css-variable------ */

:root {
    --light-yellow: #eef2fe;
    --primery: #000000;
    --dark-black: #000000;
    --dark-greay: #9599ab;
    --greay: #afafaf;
    --text-greay: #848484;
    --black: #000000;
    --bg-white: #ffffff;
    --text-white: #fff;
    --red-color: #ff0000;
}


@media screen and (max-width:935px) {
   
    .hero-video-box {
        height: 400px
    }
    .hero-bottom {
        padding-bottom: 30px
    }

     .hero-info {
        margin-top: 0;
        margin-bottom: 0px;
        background: --primery;
        background-size: 300% 300%;
        animation: AnimateBG 15s ease infinite;

}
.hero-list {
    margin: 0 15px 10px 15px;
    background: #38373d6e;
    border: 1px solid #304563;
    	}
} 


@media screen and (max-width:750px) {
 
    .button-box {
        padding-top: 20px
    }
    .button {
        font-size: 14px
    }
    .button-separator:after {
        width: 40px;
        height: 40px;
        left: -15px;
        top: -20px
    }
    
    .hero-logo img {
        max-width: 150px
    }
    .hero-video-box {
        height: auto
    }
    .hero-list ul li {
        font-size: 10px
    }
    .hero-info {
        margin-top: 0;
        margin-bottom: 0px;
        background: --primery;
        background-size: 300% 300%;
        animation: AnimateBG 15s ease infinite;

    }
    .hero-list {
        margin: 0 15px 10px 15px;
        background: #38373d6e;
        border: 1px solid #304563;
    }
    .hero-box {
        padding-top: 0
    }
  
    .hero-list ul li:before {
        width: 20px;
        height: 20px
    }
    .hero-list {
        margin: 0 15px 10px 15px;
        padding-bottom: 20px
    }
   
}