/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: none;
}

.myul{
  list-style: none;
  margin: none;
}


/* Header 
stycky means it will stay up in the page, at the top 0px with width 100% of available space
*/
.header{
  background-color: var(--black);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position:relative;
  top: 0;
  width: 100%;
}
/* Logo */
.logo{
  display: inline-block;
  color: var(--white);
  font-size: 60px;
  margin-left: 10px;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

/* Nav menu
In the code below, we specify width and height properties of 100 percent for the nav element in order to fit the content to the screen. 
Then, we specify a fixed position to overlay the navigation menu on top of the main app content. We also select a black background-color for the nav element and specify that any overflow content from the nav element should be hidden.
*/
.nav{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--black);
  overflow: none;

}
.menu a{
  display: block;
  padding: 30px;
  color: var(--white);
}
.menu a:hover{
  background-color: var(--gray);
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}



/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */


/* Toggle menu icon 
In the code below, we style the hamburger menu icon to alter its appearance when checked.
First, we specify the 
max-height of the nav element when the checkbox is checked (class .side-menu:checked).
*/
.side-menu:checked ~ nav{
  max-height: 20%;

}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/* Sub nav */
.subnav-content {
  background-color:  var(--white);
  width: 100%;
  z-index: 1;
  padding: 20px 0 ;
  display: none;
}

.subnavbtn {
  display: block;
  padding: 30px;
  color: var(--white);
}


.subnav-content a {
  color: var(--black);
  text-decoration: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.subnav:hover .subnav-content {
  display: block;
}

/* Responsiveness
In this code, we add a @media rule with the device condition set to a 768px min-width. 
We want devices with this minimum width to see the full navigation menu.
*/
@media (min-width: 768px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--gray);

  }

  .hamb{
      display: none;
  }

  /* Sub nav */
  .subnav-content {
    padding: 20px 0 ;
    display: none;
    background-color:  var(--black);
}
.subnav-content a {
    color: white;
}

}

/* footer */

footer {
  padding-block: 1rem;
  background-color: var(--black);
  grid-area: footer;
  color: #ffffff;
  text-align: center;
  margin-top: 9px;
}

footer a {
  display: inline;
  margin: 0;
  color: #ffffff;
}
  


/* Cards Menu for Tickets */

.section-2 {
  margin-top: 10px;
  max-width: 100%;

}

.container-cards {
    
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    min-height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.col {
    background-color: transparent ;
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
}

.card {
  box-shadow: 1px 1px 5px 0px var(--gray);
}


.section-4 {
  max-width: 70%;
  box-shadow: 1px 1px 5px 0px var(--gray);
  margin: 0 auto;
  padding: 15px 5px 15px 5px;
}

.form-outline {
  max-width: 50%;
  margin: 0 auto;
  border: 2px 2px 2px 2px;
}


@media (max-width: 500px) { 
  .form-outline {
    max-width: 80%;
    margin: 0 auto;
  }
  .section-4 {
    max-width: 100%;
    box-shadow: 1px 1px 5px 0px var(--gray);
    margin: 0 auto;
    border: 2px 2px 2px 2px;
  }
}

/* Video */


video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;


  width: 100%;
  height: 600px;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.video-header {
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}